# Default ignored files
/../../../../../../../../GEOEGI~1/AppData/Local/Temp/gb_OOP_224/02-Seminars/Homework02/.idea/shelf/
/../../../../../../../../GEOEGI~1/AppData/Local/Temp/gb_OOP_224/02-Seminars/Homework02/.idea/workspace.xml
